<?xml version="1.0" encoding="UTF-8"?><maryxml xmlns="http://mary.dfki.de/2002/MaryXML" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="0.5" xml:lang="in">
<p>
<s>
<t>
Selamat
</t>
<t>
datang
</t>
<t>
di
</t>
<t>
sistem
</t>
<t>
pensintesis
</t>
<t>
ucapan
</t>
<t>
MARY
</t>
<t>
!
</t>
</s>
</p>
</maryxml>
