##########################################################################
# MARY TTS configuration file in.config
##########################################################################

name = in
in.version = 1.0.0

locale = in

###########################################################################
############################## The Modules  ###############################
###########################################################################
modules.classes.list = \
       marytts.language.in.Phonemiser  \
       marytts.language.in.Preprocess \
       marytts.modules.MinimalisticPosTagger(in,in.) \


####################################################################
####################### Module settings  ###########################
####################################################################

# Phonemiser settings
in.allophoneset = jar:/marytts/language/in/lexicon/allophones.in.xml
in.lexicon = jar:/marytts/language/in/lexicon/in_lexicon.fst
in.lettertosound = jar:/marytts/language/in/lexicon/in.lts
in.userdict = MARY_BASE/user-dictionaries/userdict-in.txt

# Minimalistic POS tagger settings
in.partsofspeech.fst = jar:/marytts/language/in/tagger/in_pos.fst
in.partsofspeech.punctuation = ,.?!;

# Feature processor manager
featuremanager.classes.list = \
	marytts.features.FeatureProcessorManager(in)
