##########################################################################
# MARY TTS configuration file id.config
##########################################################################

name = id
id.version = 1.0.0

locale = id

###########################################################################
############################## The Modules  ###############################
###########################################################################
modules.classes.list = \
       marytts.language.id.Phonemiser  \
       marytts.modules.MinimalisticPosTagger(id,id.) \         


####################################################################
####################### Module settings  ###########################
####################################################################

# Phonemiser settings
id.allophoneset = jar:/marytts/language/id/lexicon/allophones.id.xml
id.lexicon = jar:/marytts/language/id/lexicon/id_lexicon.fst
id.lettertosound = jar:/marytts/language/id/lexicon/id.lts
#id.userdict = MARY_BASE/user-dictionaries/userdict-id.txt

# Minimalistic POS tagger settings
id.partsofspeech.fst = jar:/marytts/language/id/tagger/id_pos.fst
id.partsofspeech.punctuation = ,.?!;

# Feature processor manager
featuremanager.classes.list = \
	marytts.features.FeatureProcessorManager(id)
